This notebook examines aviation accident data to assess the risk of fatal and severe accidents across several key factors, including:

1. Flight Phases: Takeoff, landing, maneuvering, etc.
2. Weather Conditions: Impact of weather (e.g., rain, fog, wind) on accidents.
3. Aircraft and Engine Types: Model, make, and number of engines.
4. Purpose of Flight: Commercial, private, training, etc.
5. Accident Severity: Categorized into fatal, serious, and minor injuries.

By analyzing these factors, the goal is to uncover trends and provide actionable recommendations for our company that is expanding into new industries to diversify its portfolio. This analysis uses data from the National Transportation Safety Board (NTSB), covering civil aviation accidents from 1962 to 2023 in the United States and international waters.

## Step 1: Import libraries
Firstly, we import all the necessary libraries required for data manipulation, analysis, and visualization. These libraries will help with data cleaning, statistical operations, and visual representation of results.

In [1]:
# --- Import libraries and loading dataset ---
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# --- Use 'ggplot' style for more visually appealing plots
plt.style.use('ggplot')

# Step 2: Load the dataset
Here, we load the 'Aviation data' -a CSV file into a pandas DataFrame. This dataset contains the aviation accident data that we will analyze for risk patterns across various factors.

In [2]:
df = pd.read_csv('data\Aviation_Data.csv', low_memory=False) 
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Step 3: Understand the structure of the dataset
After loading the dataset, it is important to perform a few basic checks to understand its structure, identify any missing values, and ensure that the data types are correct. 

We will perform the following checks:
1. Shape of the dataset: To check the number of rows and columns.
2. Columns: To list all column names and ensure the dataset has the expected structure.
3. Preview the first 20 rows and check the content.
4. Data types: To confirm that numerical columns are correctly identified
5. Dataset summary: To get a quick overview of data types and missing values.
6. Missing values: To check if any columns contain missing values.

These checks will help us assess the quality of the dataset and prepare it for further analysis.

In [4]:
df.shape  # Returns (number of rows (90348), number of columns(31))

(90348, 31)

In [5]:
df.columns # List all column names to inspect the dataset structure

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [6]:
df.head(20) # Display the first 20 rows to preview the data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,1981-08-01,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06-11-2001
7,20020909X01562,Accident,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01-01-1982
8,20020909X01561,Accident,NYC82DA015,1982-01-01,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01-01-1982
9,20020909X01560,Accident,MIA82DA029,1982-01-01,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01-01-1982
10,20020909X01559,Accident,FTW82DA034,1982-01-01,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,01-01-1982
11,20020909X01558,Accident,ATL82DKJ10,1982-01-01,"TUSKEGEE, AL",United States,NaN,NaN,NaN,TUSKEGEE,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,01-01-1982
12,20020917X02148,Accident,FTW82FRJ07,1982-01-02,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
13,20020917X02134,Accident,FTW82FRA14,1982-01-02,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02-01-1983
14,20020917X02119,Accident,FTW82FPJ10,1982-01-02,"CHICKASHA, OK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
15,20020917X02117,Accident,FTW82FPG08,1982-01-02,"LITTLE ROCK, AR",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02-01-1983
16,20020917X01962,Accident,DEN82DTM08,1982-01-02,"MIDWAY, UT",United States,NaN,NaN,NaN,FIELD RANCH,...,Personal,NaN,0.0,0.0,0.0,1.0,IMC,Taxi,Probable Cause,02-01-1983
17,20020917X01656,Accident,ANC82FAG14,1982-01-02,"SKWENTA, AK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02-01-1983
18,20020917X02481,Accident,NYC82DA016,1982-01-02,"GALETON, PA",United States,NaN,NaN,5G6,CHERRY SPRINGS,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Taxi,Probable Cause,02-01-1983
19,20020917X02339,Accident,MIA82DA028,1982-01-02,"MIAMI, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,02-01-1983

In [7]:
df.info() # Dataset summary: data types, non-null counts, etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [8]:
df.describe() # Summary statistics for numerical columns

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [9]:
df.dtypes # Check the data types of each column

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

## Step 4 Data cleaning (Handling missing values and duplicates)
We will:
1. Identify missing values: We will check which columns contain missing values and the number of missing entries.
2. Drop rows with missing `Event.Id`: Since `Event.Id` is the main unique identifier, it’s crucial that this column has no missing values.
3. Check for duplicates: We will identify and remove any duplicate rows based on `Event.Id`, ensuring each event is represented only once.

These steps are necessary to clean the dataset before performing any further analysis.

In [10]:
# --- Check columns with missing values
df.isnull().sum().sort_values(ascending=False)  # List missing values per column

#Schedule, Air.carrier, and FAR.Description columns have the most missing values, while Event.Id, Event.Date, and Investigation.Type have the least missing data, each with only 1,459 missing entries.

Schedule                  77766
Air.carrier               73700
FAR.Description           58325
Aircraft.Category         58061
Longitude                 55975
Latitude                  55966
Airport.Code              40099
Airport.Name              37558
Broad.phase.of.flight     28624
Publication.Date          16689
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Fatal.Injuries      12860
Engine.Type                8536
Report.Status              7840
Purpose.of.flight          7651
Number.of.Engines          7543
Total.Uninjured            7371
Weather.Condition          5951
Aircraft.damage            4653
Registration.Number        2776
Injury.Severity            2459
Country                    1685
Amateur.Built              1561
Model                      1551
Make                       1522
Location                   1511
Event.Date                 1459
Accident.Number            1459
Event.Id                   1459
Investigation.Type            0
dtype: int64

In [11]:
# --- Check how many `Event.Id` row values are missing
df['Event.Id'].isna().sum()  # 1,459 missing values in the Event.Id column and we need to drop them

1459

In [12]:
# --- Drop rows where `Event.Id` is missing (since it's the main unique identifier)
df = df.dropna(subset=['Event.Id'])

In [13]:
# --- Confirm the shape of dataframe after dropping rows with missing `Event.Id`
df.shape  # # Returns (number of rows ((88889), number of columns(31))

(88889, 31)

In [14]:
# --- Check for duplicate `Event.Id` values
duplicate_ids = df['Event.Id'].duplicated().sum()    #938 duplicate values in the Event.Id column and we need to drop them
duplicate_ids

938

In [15]:
# --- Remove duplicates present in the `Event.Id` column
df = df.drop_duplicates(subset=['Event.Id'])

In [16]:
# --- Confirm the new shape and uniqueness of `Event.Id` and the broader df
print(df.shape)   #the new rows are 87951 and 31 columns
print(df['Event.Id'].duplicated().sum())  #no duplicates in our unique identifier column

(87951, 31)
0

In [ ]:
# -- Handling placeholders
placeholders = ['Unk', 'UNK', 'LR', 'N/A', 'na', 'nan', '-', 'None', 'NONE']
df = df.replace(placeholders, 'Unknown')

# Fill remaining missing values with 'unknown'
df = df.fillna('Unknown')

In [24]:
df.info()  # Check the current dataset structure (data types and non-null counts)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87951 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                87951 non-null  object
 1   Investigation.Type      87951 non-null  object
 2   Accident.Number         87951 non-null  object
 3   Event.Date              87951 non-null  object
 4   Location                87951 non-null  object
 5   Country                 87951 non-null  object
 6   Latitude                87951 non-null  object
 7   Longitude               87951 non-null  object
 8   Airport.Code            87951 non-null  object
 9   Airport.Name            87951 non-null  object
 10  Injury.Severity         87951 non-null  object
 11  Aircraft.damage         87951 non-null  object
 12  Aircraft.Category       87951 non-null  object
 13  Registration.Number     87951 non-null  object
 14  Make                    87951 non-null  object
 15  Model                   87951 non-null  object
 16  Amateur.Built           87951 non-null  object
 17  Number.of.Engines       87951 non-null  object
 18  Engine.Type             87951 non-null  object
 19  FAR.Description         87951 non-null  object
 20  Schedule                87951 non-null  object
 21  Purpose.of.flight       87951 non-null  object
 22  Air.carrier             87951 non-null  object
 23  Total.Fatal.Injuries    87951 non-null  object
 24  Total.Serious.Injuries  87951 non-null  object
 25  Total.Minor.Injuries    87951 non-null  object
 26  Total.Uninjured         87951 non-null  object
 27  Weather.Condition       87951 non-null  object
 28  Broad.phase.of.flight   87951 non-null  object
 29  Report.Status           87951 non-null  object
 30  Publication.Date        87951 non-null  object
dtypes: object(31)
memory usage: 21.5+ MB

## Step 5 Make a clean working copy with only useful columns
This is meant to keep things simple for the analysis.